
.square_buttons {
    background: blueviolet;
    width: 7em;
    height: 7em;
    border-radius: 25px;
    margin: 1em;
}

.center_buttons {
    text-align: center;
}

.container {
    display: flex;
}